.navbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.nav-link{
}
.nav-link:hover{
    /* color: #2ce08c; */
    color: white;
}
.nav-link:active{
    /* color: #2ce08c; */
    color: rgb(3, 250, 69);
}
.card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.btn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}